[submodule "srbench"]
	path = srbench
	url = https://github.com/cavalab/srbench.git
[submodule "SymbolicRegression.jl"]
	path = SymbolicRegression.jl
	url = https://github.com/simonalford42/SymbolicRegression.jl.git
[submodule "PySR"]
	path = PySR
	url = https://github.com/simonalford42/PySR.git
